@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;1,6..12,200;1,6..12,300;1,6..12,400&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

body ::-webkit-scrollbar {
    width: 0 !important
}

body::-webkit-scrollbar {
    display: none;
}
