@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;1,6..12,200;1,6..12,300;1,6..12,400&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}
  @media(max-width: 820px){
   .search-box {
       width: 100%;
   }
  }
.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding: 10px 40px 10px 10px;
    color: #333;
}

.input-search::placeholder {
    color: #333;
    font-size: 16px;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus ~ .input-search {
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #333;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: .5px solid #333;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*dropdown*/
h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.menu-container {
    margin-top: 20px;
}

.menu-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.menu-container:nth-child(3) {
    margin-top: 200px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu .dropdown {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
    z-index: 100;
}

.menu .dropdown:hover {
    background: #000;
    cursor: pointer;
    color: #fff;
}

.menu .dropdown:hover .dropdown_menu li {
    display: block;
}

.menu .dropdown .dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: -1;
}

.menu .dropdown .dropdown_menu li {
    display: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
}

.menu .dropdown .dropdown_menu li:hover {
    background-color: #000;
    color: #fff;
}

.menu .dropdown:hover .dropdown_menu--animated {
    display: block;
}

.menu .dropdown .dropdown_menu--animated {
    display: none;
}

.menu .dropdown .dropdown_menu--animated li {
    display: block;
    opacity: 1;
}

/* Dropdown menu item animations... */
.menu .dropdown_menu-1 .dropdown_item-1 {
    transform-origin: top center;
    animation: slideDown 300ms 60ms ease-in-out forwards;
}

.menu .dropdown_menu-1 .dropdown_item-2 {
    transform-origin: top center;
    animation: slideDown 300ms 120ms ease-in-out forwards;
}

.menu .dropdown_menu-1 .dropdown_item-3 {
    transform-origin: top center;
    animation: slideDown 300ms 180ms ease-in-out forwards;
}

.menu .dropdown_menu-1 .dropdown_item-4 {
    transform-origin: top center;
    animation: slideDown 300ms 240ms ease-in-out forwards;
}

.menu .dropdown_menu-1 .dropdown_item-5 {
    transform-origin: top center;
    animation: slideDown 300ms 300ms ease-in-out forwards;
}

.dropdown_menu-6 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}